@model ShopNuocHoa.Models.Cart

@{
    ViewBag.Title = "ShowtoCart";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}


@if (Model != null)
{


    <div class="shopping-cart section">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- Shopping Summery -->
                    <table class="table shopping-summery">
                        <thead>
                            <tr class="main-hading">
                                <th>PRODUCT</th>
                                <th>NAME</th>
                                <th class="text-center">UNIT PRICE</th>
                                <th class="text-center">QUANTITY</th>
                                <th class="text-center">TOTAL</th>
                                <th class="text-center"><i class="ti-trash remove-icon"></i></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Items)
                            {
                                double total = item._product.new_price.Value * item._quantity;
                                <tr>
                                    <td class="image" data-title="No">

                                        <img src="@Url.Content("/Images/" + item._product.image)" alt="#">
                                    </td>
                                    <td class="product-des" data-title="Description">
                                        <p class="product-name"><a>@item._product.name_product</a></p>

                                    </td>
                                    <td class="price" data-title="Price"><span>@item._product.new_price</span></td>
                                    <td class="qty" data-title="Qty">
                                        @using (Html.BeginForm("Update_Quantity_Cart", "ShoppingCart"))
                                        {
                                            <input type="hidden" value="@item._product.id_product" name="id_product" />

                                            <div style="margin-left:100px">
                                                <input type="number" value="@item._quantity" name="quantity" min="1" max="50" style="width:50px" />
                                                <input type="submit" value="Update" style="width:100px;margin-left:-30px" />
                                            </div>

                                        }
                                    </td>

                                    <td class="total-amount" data-title="Total">
                                        <span>$@total</span>
                                    </td>
                                    <td class="action" data-title="Remove">
                                        @using (Html.BeginForm("Remove_Item", "ShoppingCart"))
                                        {
                                            <input type="hidden" value="@item._product.id_product" name="id_product" />
                                            <input type="submit" value="Delete" style="width:100px;margin-left:30px" />
                                        }
                                        @*    <a href="https://localhost:44326/ShoppingCart/Remove_Item/@item._product.id_product"><i class="ti-trash remove-icon"></i></a>*@
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <!--/ End Shopping Summery -->
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <!-- Total Amount -->
                    <div class="total-amount">
                        <div class="row">
                            <div class="col-lg-8 col-md-5 col-12">
                                <div class="left">


                                </div>
                            </div>
                            <div class="col-lg-4 col-md-7 col-12">
                                <div class="right">
                                    <ul>
                                        <li>Cart Subtotal<span>$@Model.Total()</span></li>
                                        <li>Shipping<span>Free</span></li>
                                        <li class="last">You Pay<span>$@Model.Total()</span></li>
                                    </ul>
                                    <div class="button5">
                                        <a href="/ShoppingCart/Checkout/" class="btn">Checkout</a>
                                        <a href="/Home/Index" class="btn">Continue shopping</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--/ End Total Amount -->
                </div>
            </div>
        </div>
    </div>
}
